body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.75rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-image: radial-gradient(red,rgb(161, 6, 6));
}

.green {
  background-image: radial-gradient(green,rgb(1, 61, 1));
}

.blue {
  background-image: radial-gradient(blue,rgb(2, 2, 134));
}

.yellow {
  background-image: radial-gradient(yellow,rgb(138, 138, 0));
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
